language: objective-c
matrix:
  include:
    - osx_image: xcode7.1
    - osx_image: xcode7.2
env:
  global:
    - LC_CTYPE=en_US.UTF-8
git:
  submodules: false
before_install:
  - git submodule update --init --recursive
script:
  - pod lib lint
  - set -o pipefail
  - xcodebuild test -scheme Himotoki-Mac -configuration Release | xcpretty -c
  - xcodebuild test -scheme Himotoki-iOS -configuration Release -sdk iphonesimulator -destination "platform=iOS Simulator,name=iPhone 6s" | xcpretty -c
  - xcodebuild test -scheme Himotoki-tvOS -configuration Release -sdk appletvsimulator -destination "platform=tvOS Simulator,name=Apple TV 1080p" | xcpretty -c
  - xcodebuild build -scheme Himotoki-watchOS -configuration Release -sdk watchsimulator -destination "platform=watchOS Simulator,name=Apple Watch - 38mm" | xcpretty -c
notifications:
  email: false
